{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

		<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
	<style>
    .container { 
      display: flex;
      flex-flow: row wrap-reverse;
      justify-content: center;
      align-content: flex-start;
      height: 40vw;
    } 
    
    .container > div {
      font-size: 12vw;
      padding: .5em;
      color: white;
      margin: 20px;
      background: orangered;

    }
  
  </style>
	<body>
		<!-- Your layout here -->
    
    <div class="container">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>

    </div>
    

	</body>
</html>